
.video-right {
    position: fixed;
    right: 0;
    width: 45% !important;
    height: 100%;
    background: #000000;
}

.caption-left {
    width: 55%;
    margin-left: 10px !important;
}

.styleguide-hide {
	display: none;
}
